*{
    box-sizing: border-box;
}


body {
    background-color: gray;
}

h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
}


.container {
    margin-top: 20px;
    margin-bottom: 100px;
    background-color: white;
    max-width: 960px;
    margin: auto;
    display: block;
    padding: 20px;
}

#text-box {
    height: 200px;
    width: 800px;
    background-color: white;
    border-style: dotted;
    max-width: 960px;
    margin: auto;
    display: block;
    
  }

  .button1 {
      border-radius: 50%;
      color: white;
      background-color: red;
      position: fixed;
      left: 350px;
      top: 390px;

  }

  .button2 {
    border-radius: 50%;
    color: white;
    background-color: gray;
    position: fixed;
    right: 350px;
    top: 390px
  }

  @media (min-width: 320px) and (max-width: 480px) {
    
  }

  @media (min-width: 768px) and (max-width: 1024px) {
    
  }